<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <main class="main">
    <ion-button [routerLink]="['/']" > <- Back </ion-button>
    <section class="container">
      <article class="content__img">
        <img src="assets/diego-foto.png" alt="Diego Tuesta - photo" loading="lazy">
      </article>
      <article>
       
          <ion-list [inset]="true">
            <ion-item>
              <ion-label>Name: Diego Tuesta</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Email: diego.productividadgmail.com</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Phone: +5195000000</ion-label>
            </ion-item>
           
          </ion-list>
        
      </article>
    </section>
  </main>
  

</ion-content>
