<ion-content [fullscreen]="true">
  
  
  @if (isLoaderVisible) {

    <app-loading 
      [images]="loaderImages"
      [texts]="loaderTexts"
      [displayDuration]="1000"
      [redirectPath]="redirectPath"
      [timeLoading]="3000"
    >
    </app-loading>
  }

  <div id="container">
    <article>

      <ion-card>
        <img alt="Diego Tuesta - photo" src="assets/diego-foto.png" loading="lazy" />
        <ion-card-header>
          <ion-card-title >Diego Tuesta</ion-card-title>
          <ion-card-subtitle>Frontend Developer</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button (click)="showLoader()" > Go to contact! </ion-button> 
        </ion-card-content>
      </ion-card>
    </article>
    
    
  </div>
</ion-content>
